@using CadastroContatos.Enums;
@model UsuarioModel
@{
    ViewData["Title"] = "Editar Usuário";
}

<div class="text-center">
    <h1 class="display-6">Editar Usuário</h1>    
</div>

<form asp-controller="Usuario" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id"/>

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" id="Nome" placeholder="Digite o Nome do Usuário">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="Login" placeholder="Digite o Login do Usuário">
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" id="Email" placeholder="Digite email do Usuário">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label">Perfil</label>       
        <select asp-for="Perfil" class="form-control">
            <option value="">Selecione</option>
            <option value="@PerfilEnum.Admin">Administrador</option>
            <option value="@PerfilEnum.Padrao">Padrão</option>
        </select>
        @Html.ValidationMessageFor(x => x.Perfil)
    </div>

    <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-plus-circle"></i> Editar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Usuario" asp-action="Index" role="button"><i class="fa fa-reply"></i> Voltar</a>
</form>
